body * {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', "Lato";
  margin: 0;
  padding: 0;
  background-color: #efefefef;
  color: #372549;
  background: url("../img/homebg.png") right top;
  background-size: 50vh;
}

.title {
  display: grid;
  grid-template-columns: 15vw 1fr 20vw;
  column-gap: 6vw;
  grid-template-rows: 10vh;
  font-size: 3.5vw;
  padding: 5vh 4vw;
  border-bottom: 1px solid #372549;
  align-items: center;
  justify-items:center;
  background-color: #7dd181;
}

.title img {
  grid-column: 2;
  width: 45%;
}

.title h3 {
  font-size: 2vw;
}

#total {
  grid-column: 1;
  grid-row: 1;
}

#time {
  grid-column: 3;
  grid-row: 1;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80vw;
  height: 4vh;
  margin: 0 auto;
  background-color: #bfd7b5;
}

.navigation button {
  background-color: #7dd181;
  border-top: none;
  border-bottom:  1px solid #372549;
  border-right:  1px solid #372549;
  border-left: none;

}

.navigation button:nth-child(1) {
  border-left: 1px solid #372549;
}

.navigation button:active {
  background-color: ##29462d;
}

.main {
  width: 80vw;
  min-height: 72vh;
  margin: 0 auto;
  padding: .5em 0;
  /* grid-template-columns: */
  background-color: #d8d8d8;
}

#newVenture{
  padding-left: 1vw;
}

.venture {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0 2vw;
  visibility: visible;
}

.venture h1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  font-size: 5vw;
}

.venture h2 {
  grid-column: 1;
  grid-row: 2;
  font-size: 3.5vw;
}

.venture p {
  grid-column: 1;
}

.venture p:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}

.venture h3 {
  grid-column: 2;
  grid-row: 2;
  padding: 1vh 2vw;
  text-align: center;
  background-color: #151313;
  color: #efefef;
  border-radius: 1vw;
}
