body * {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #efefefef;
  color: #372549;
}

.title {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-size: 3.5vw;
  padding: 3vh 2vw;
  border-bottom: 1px solid #372549;
  align-items: center;
}

.title h1 {
  grid-column: 4 / span 4;
  grid-row: 1;
}

.title h3 {
  font-size: 2vw;
}

#total {
  grid-column: 1 / span 2;
  grid-row: 1;
}

#time {
  grid-column: 11 / span 2;
  grid-row: 1;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 8fr;
}

.navigation h4 {
  margin: 0 auto;
  padding: 1vh 8vw;
  border-bottom: 1px solid #372549;
  border-right: 1px solid #372549;
}

.main {
  width: 80vw;
  margin: 0 auto;
  padding-top: 10vh;
}

.venture {
  display: grid;
  grid-template-columns: 8vw 30vw;
  grid-template-rows: 4vw 4vw;
  font-size: 2vw;
  grid-column-gap: 1vw;
}

.venture * {
  margin: 0 auto;
}

.venture img {
  width: 8vw;
  grid-column: 1;
  grid-row: 1 / span 2;
}


#name {
  grid-column: 2;
  grid-row: 1;
  background-color: #4cb963;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 0.5em;

}

#upgrade {
  grid-column: 2;
  grid-row: 2;
  background-color: #eacdc2;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 0.5em;
}
